@model AppMovies.Models.Movie

<style>

.ctr-video {
    padding: 10px 25px;
    background: transparent;
    box-sizing:border-box;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image:url("..@Url.Content("~/Media/Imgs/Alan Walker - Alone.jpg")");*/
}


.ctr-player {
    width: 60%;
    height: auto;
    background: transparent;
    padding: 25px;
    box-sizing: border-box;
    align-self:flex-start;
}


    .ctr-player .video-box {
        background: black;
        width: 100%;
        height: 60%;
        padding: 10px 1px;
        border-radius: 3px;
    }

        .ctr-player .video-box .player {
            width: 100%;
            height: 100%;
            outline: none;
            padding: 0;
        }

    .ctr-player .video-title {
        color:white;
        padding: 0 10px;
        font-weight: 300;
        font-size: 20px;
    }

    .ctr-player details {
        color: white;
        outline: none;
        padding: 0 10px;
        box-sizing: border-box;
    }

        .ctr-player details[open] {
            background: rgba(0,0,0,0.4);
            padding: 15px;
            border-radius: 3px;
        }


        .ctr-player details summary {
            color: dodgerblue;
            font-size: 16px;
            cursor: pointer;
            outline: none;
        }

            .ctr-player details summary::-webkit-details-marker {
                display: none;
            }


        .ctr-player details .description-box {
            background: transparent;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .ctr-player details .description-box img {
                width: 150px;
                height: 170px;
                margin: 0 10px 0 0;
            }

            .ctr-player details .description-box div {
                align-self: flex-start;
            }

</style>

<!--<link href="~/Assets/Css/PlayVideo.css" rel="stylesheet" />-->
<div class="ctr-video" >

    <div class="ctr-player">
        <div class="video-box">
            <video class="player" controls="controls">
                <source src="@Url.Content(Model.VideoPath)" type="video/mp4" />
                <source src="@Url.Content(Model.VideoPath)" type="video/webm" />
                <source src="@Url.Content(Model.VideoPath)" type="video/ogg" />
            </video>
        </div>
        <h4 class="video-title">
            @Model.Title
        </h4>

        <details>
            <summary>Show More</summary>

            <br />
            <div class="description-box">
                <span>
                    <img src="@Url.Content(Model.ImagePath)" alt="movie-thumbnail" />
                </span>

                <div>
                    <h4>Description</h4>
                    <p>@Model.Description</p>
                    @{

                        var db = new AppMovies.Models.ApplicationDbContext();
                        var categorias = AppMovies.Services
                                        .GetMoviesCategories
                                        .GetMovieCategory(Model, db);

                        foreach (var categoria in categorias)
                        {
                            int id_categoria = db.MoviesCategories.Where(x => x.Category.Name == categoria).Select(x => x.Category.Id).FirstOrDefault();
                            <a href="/Movies?categoria=@categoria&C=@id_categoria">
                                <span>@categoria&nbsp;|&nbsp;</span>
                            </a>
                        }
                    }
                </div>
             </div>
        </details>
    </div>
</div>



